/* LCARS overrides */

.right-frame {
  margin-top: 10px;
}

h1 {
  margin: 0px;
}

/* App specific */
.content {
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
}

.content img.video-feed,
.content img.standby-image {
  width: 640px;
  align-self: center;
}
.content img.video-feed.loading {
  display: none;
}


.content .video-controls {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.button.selected  a {
  background-color: #747;
}