
.hazardsContainer {
  position: fixed;
  right: 5px;
  bottom: 25px;
  user-select: none;
  width: 250px;
  height: 300px;
  transition: width 1s, height 1s;
}

.smallerContainer {
  width: 175px;
  height: 210px;
  bottom: 20px;
  right: 20px;
}

.image {
  height: 100%;
  width: 100%;
}


.indicator {
  position: absolute;
  height: 40px;
  width: 40px;
  animation: blinkingBackground .5s infinite;
}

.smallerIndicator {
  height: 30px;
  width: 30px;
}

@keyframes blinkingBackground{
  0%		{ opacity: 0; }
  25%		{ opacity: 0.25; }
  50%		{ opacity: 0.55; }
  75%		{ opacity: 0.75; }
  100%	{ opacity: 1; }
}
