
.wrapper {
  position: relative;
}

.objectSquare {
  display: block;
  position: absolute;

  border: 3px solid #034be687;
}

.objectClassification {
  font-size: 18px;
}

.objectConfidence {
  font-size: 14px;
}
