
.thumbstickContainer {
  position: fixed;
  right: 30px;
  bottom: 60px;
  border: 1px solid white;
  border-radius: 100px;
  user-select: none;
  background-color: #000000a5;
}

.thumbstickPosition {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: red;
  pointer-events: none;
  user-select: none;
}
