
.thumbstickContainer {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  user-select: none;
}

.thumbstickPosition {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: red;
  pointer-events: none;
  user-select: none;
}
